.app {
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    overflow-y: scroll;
}

.content-1,
.content-2 {
    max-height: 30rem;
    overflow-y: scroll;
}

#containerMedicines,
#containerVaccines {
    display: flex;
    justify-content: space-around;
    gap: 2rem;

    padding: 2rem;
    background: #84b6f4;

    border-radius: 0.8rem;
    overflow-y: scroll;

    margin-bottom: 3rem;
}

#containerMedicines p,
#containerVaccines p {
    color: #000000;
}

#containerMedicines p,
#containerVaccines p {
    margin-bottom: 1.4rem;
}

.navigation{
    background: #265592;
    
    padding: 2rem;
    border-radius: 0.8rem;
}

#nav ul {
    display: flex;
    align-items: center;
    gap: 5rem;


    list-style: none;
}
