.app {
    height: 100%;
    color: #ffffff;
}

.dashboard {
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#form {
    max-height: 68rem;
    overflow-y: auto;
    background: #001449;
    
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
    padding: 3rem;
    border-radius: 0.8rem;
}

#form h1 {
    font-size: 4rem;
    margin-top: 2rem;
}

#form label {
    font-size: 2.4rem;
}

#form input, #form select {
    height: 3rem;
    border-radius: 0.5rem;
    padding: 1.4rem;

    border: none;
    outline: none;

    cursor: pointer;
}

#form .allergyField {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#form button {
    height: 4rem;

    border-radius: 0.5rem;

    font-size: 1.8rem;
    transition: filter .4s ;

    margin-top: 2rem;

    cursor: pointer;
}

#form button:hover {
    filter: brightness(0.8);
}

.navigation{
    background: #396db0;
    width: 20em;
    
    border-radius: 10px;
}

#nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;


    list-style: none;
}

#nav li {
    padding: 1em;
}

li.active {
    background-color: #84ebf4;
    border-radius: 10px;
}